#base{
	overflow: hidden;
	background-image: url("../01.jpg");
	background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
	
}	

#home{
	background-image: url("../image.jpg");
	background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
	overflow: hidden; 
	/*border: 100px solid white;
	border-top-width:medium;
	border-left-width: 250px;
	border-right-width: 250px;
	border-bottom-width: medium;*/
}	


#main_panel{
	opacity: 0.97;
	height: 620px;	
	width: 100%;
	overflow-y: scroll;

}	


#pic img {
	position:absolute; z-index: -1;
}
	
#pic_txt, #pic_txt2 {
	color:white;
	font-family: Century Gothic, sans-serif;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}

/*#myModal{	
	width: 850px;
}	*/

#feeds, #bar{
	background-color: black;
	/*height:120px;*/
	
}

#home_bttn{
	background-color: purple;
}	

#search_bar{
	background-color: black;
}	

#bttn2, #bttn1{
	background-color: black;
	font-size: 15px;
	
}

#search_bttn{
	background-color: purple;
}	
	
	
#row1{
	background-color: purple;
}	

#feeds{
	color: white;
	font-size: 15px;
}	
h3{
	color:white;
}	


#title{
	color: black;
	font-family: Century Gothic, sans-serif;
}

/* upvote/downvote button */
.purple{
   border-bottom: 20px solid purple;
}

.red{
  border-bottom: 20px solid red;
}

.up {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid #C8C4C4;
 }

.down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid #C8C4C4;
 }
/****************************************/

/* <hr> between posts */
.post_line{
	size: 10px;
}	

/* box contaning answer */
.answer_box{
	display: block;
	overflow: auto;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
}

/* text are for posting a question */
textarea.noscrollbars {
  overflow: hidden;
}

/* post text area */
#postText{
	height: 150px;
}

/* tags */
.tag{
	color: #868484;
}

.tagColor{
	color: #43B2E6;
}
