<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" id="page" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

  <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

  <script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}"></script>


</head>
</head>


<body id="home">
<p id="demo"></p>
<script>

navigator.geolocation.getCurrentPosition(
                    function(position) {
                var start = 'lat=';
                var result = start.concat(position.coords.latitude, '&lon=', position.coords.longitude, '&format=json');
                $.get(
                url="phony",
                data= result,
                success=function(data) {
                        $('#my_hood').replaceWith(data);
                }
        );
                    },
                    function(error){
                        alert("Error!");
                    }
            );

</script>

<div class="row" id="my_hood" >
  <div class="large-12 column">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
-- INSERT --                                                                                                                                                                  1,15          Top
