<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MyHood</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
    <script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}"></script>
</head>
<body id="not_in_nyc">

	<br>
	<br>
	<br><br><br><br>
	<br>
	<br>
	<br>
	<br><br><br><br>
	<br>
	<div class="row">
			
		<form action="/check_key" method="post">
			<div>
			<center><input type="text" name="key" placeholder="Enter key" style="height: 40px; width: 150px; background: transparent; border-radius: 10px; color:white;"/>
			<center><button type="submit" class="small button" style="border-radius: 10px">Submit</button>
			</div>
		</form>
		</div>
	</div>	

	<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
    <script>
    $(document).foundation();
    </script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
