<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" id="page">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
    <script type=text/javascript>
    if (navigator.geolocation) {
        alert('Geolocation is supported!');
    }
    else {
        alert('Geolocation is not supported for this Browser/OS version yet.');
    }

    //window.setTimeout(getLocation, 5000);

    window.onload = function() {
        navigator.geolocation.getCurrentPosition(
            function(position) {
                //var start = 'lat=';
                //var result = start.concat(position.coords.latitude, '&lon=', position.coords.longitude, '&format=json');
                var result = {
                    'lat': position.coords.latitude,
                    'longit': position.coords.longitude
                };
    
    
                $.ajax({
                    url: "/home",
                    data: JSON.stringify(result, null, '\t'),
                    contentType: 'application/json;charset=UTF-8',
                    type: 'POST',
                    success: function(response) {
                        if (response != "not in nyc" && response != "in nyc")
                            window.location.replace('/load_posts/' + response + '/whats_good');
                        else if (response == "in nyc")
                            window.location.replace('/in_nyc')
                        else
                            window.location.replace('/not_in_nyc');
                    },
                    error: function(error) {
                        alert("Error Determining Neighborhood");
                    }
                });
            });
    };
    </script>
</head>

<body id="home">
    <p id="demo"></p>
    <div class="row" id="my_hood">
        <div class="large-12 column">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <center>
                <h1 id="pic_txt">My Hood</h1>
                <br>
                <h2 class="pic_txt_2">Explore the neighborhoods of New York</h2>
                <br>
                <br>
        </div>
    </div>
    {% block body %}{% endblock %}
    <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
    <script>
    $(document).foundation();
    </script>
</body>

</html>
