{% extends "base1.html" %}
<!-- whats_good.html -->
{% block title %}My Hood {% endblock %}

{% block body %}
	<ul>
		{% set n = 0 %}
        {% for post in s: %}
			{% if post.nh == hood and post.tag == theTag %}
				<li>
					<td> {{ post.date.strftime('%Y-%m-%d %H:%M:%S') }} </td>
					<br>
					<td> {{ post.text }} {{post.nh}} </td>
					<br>
					{% set n_str = n|string %}
					{% set anID = ["reply_modal", n_str] %}
					{% set theID = anID|join %}	

					<a href="" data-reveal-id={{theID}} class="button tiny">Answer</a>
				
						<div id={{theID}} class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
						<p>{{ post.text }}</p>
						<form action='/answer/{{post.id}}/{{hood}}/{{post.tag}}' method="post">	
						<div class="row">
						<div class="large-12 columns">
							<textarea placeholder="Write your answer here"name="user_input" required></textarea>
						</div>
						<div class="right">
							<button type="submit">Submit</button>
						</div>	
						</div>
						</form>	
						<a class="close-reveal-modal" aria-label="Close">&#215;</a>
						</div>
						
					<br>
					{% for answer in answers %}
						{% if answer.postID == post.id %}
							<p> {{ answer.text }} </p>
						{% endif %}
					{% endfor %}
					{% set n = n + 1 %}
				</li>
			{% endif %}	
        {% endfor %}
    </ul>

{% endblock %}
